html,
body {
  height: 100%;
  background-color: #f9f9f9;
}

.navbar {
  margin-bottom: 1.4em;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}
.navbar-collapse h4 {
  color: #818a91;
}
.navbar-collapse .text-muted {
  color: #818a91;
}

.upload {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #fff;
  margin-bottom: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  outline: 0 !important;
}

.btn-primary {
  background-color: #2683ff;
  border-color: #2683ff;
}
.btn-primary:hover .btn-primary:focus {
  background: #173AE8;
  border-color: #173AE8;
}

.btn-green {
  color: #fff;
  background: #88C425;
}
.btn-green:hover, .btn-green:focus {
  background: #91D127;
  color: #fff;
}

.btn-orange {
  background: #FF7F00;
  color: #fff;
}
.btn-orange:hover, .btn-orange:focus {
  background: #FF6600;
  color: #fff;
}

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

.progress {
  margin-top: 1em;
  margin-bottom: 1.4em;
  box-shadow: none;
  border-radius: 2px;
  background: #f1f1f1;
}
.progress-bar {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #88c425;
  box-shadow: none;
  border-radius: 3px;
}

.form-control {
  height: 48px;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
  margin-bottom: 1.4em;
}
.form-control:focus {
  border-color: #2683ff;
  outline: 0;
  box-shadow: none;
  color: #2683ff;
}

::-webkit-input-placeholder {
    color: #999;
}
:focus::-webkit-input-placeholder {
    color: #BAD7FE;
}
:-moz-placeholder {
    color: #999;
}
:focus:-moz-placeholder {
    color: #BAD7FE;
}
::-moz-placeholder {
    color: #999;
}
:focus::-moz-placeholder {
    color: #BAD7FE;
}
:-ms-input-placeholder {
    color: #999;
}
:focus:-ms-input-placeholder {
    color: #BAD7FE;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.card {
  margin-bottom: 1.1em;
}
.card img {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.card-text {
  font-size: 85%;
}
.card a {
  color: #333;
}
.card a:hover {
  color: #2683ff;
}

footer {
  background: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1.4em;
}
footer p {
  margin-bottom: .25rem;
}